/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.slider-caption h2 {
	font-family: .SFNSDisplay-Regular;
	color: #FFFFFF;
	letter-spacing: -1.29px;
	font-weight:400;
	font-size:80px;
}

.slider-caption p {
	font-family: .SFNSDisplay-Regular;
	font-size: 55px;
	color: #FFFFFF;
	letter-spacing: -0.98px;
}

.slider-caption .h2-no-margin {
	margin-bottom:0;
}

.slider-caption .p-font-size {
	font-size:16px;
	font-family: .SFNSDisplay-Regular;
	color:#FFF;
	letter-spacing:-0.39px;
}

.two-column-short {
	display:flex;
	flex-direction:row;
}

.two-column-short .text-left, .two-column-short .text-right {
	width:50%;
}
.two-column-short .text-left {
	text-align:right;
	padding-right:20px;
}
.two-column-short .text-right {
	text-align:left;
	padding-left:20px;
	border-left:1px solid #d9d9d9;
	height:45px;
	margin-top:5px;
}

.text-left {
	display:flex;
	flex-direction:column;
}

.phone-font-size {
	font-size:18px;
}

.margin-left-3 {
	margin-left:3px;
}

.text-left .p-no-margin {
	margin:0;
	margin-bottom:-5px;
}

.text-left .p-font-size-big {
	font-size:27px;
}
.btn-green {
	background: #C2D31E;
	border-radius: 8px;
	height:40px;
	color:#000;
}
.text-left .green {
	color: #C2D31E;
}
.font-normal {
	font-family: .SFNSDisplay-Regular;
}
.row-two-text {
	color: #FFFFFF;
	letter-spacing: -0.64px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.91);
}

#section-about {
	background:#3E3E3E;
}
.content-wrap {
	padding-top:0;
}

.section-three-text {
	/* Stephanie iѕ origina: */
	font-family: .AppleSystemUIFont;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom:5px;
	letter-spacing: -0.32px;
}
.section-three-title {
	/* Ross M. LeCavalier,: */
	font-family: .SFNSDisplay-Regular;
	font-size: 25px;
	color: #C2D31E;
	letter-spacing: -0.49px;
	font-weight:400;
}
.section-three-h2 {
	color:#FFF;
	font-family: .SFNSDisplay-Regular;
	font-size: 45px;
	letter-spacing: -0.89px;
	font-weight:400;
}
.split-row-line {
	/* Line: */
	border: 1px solid #7C7C7C;
}
/* Rectangle 4: */
background: #3E3E3E;
/* Rectangle 4: */
background-image: linear-gradient(-180deg, #252525 0%, #3E3E3E 65%);
/* Line Copy: */
border: 5px solid #5C5B81;
/* A native оf thе Chic: */
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #FFFFFF;
letter-spacing: -0.32px;
/* Stephanie iѕ origina: */
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #FFFFFF;
letter-spacing: -0.32px;
/* MEET THE TEAM: */
font-family: .SFNSDisplay-Regular;
font-size: 55px;
color: #FFFFFF;
letter-spacing: -0.89px;
/* Ross M. LeCavalier,: */
font-family: .SFNSDisplay-Regular;
font-size: 30px;
color: #C2D31E;
letter-spacing: -0.49px;
/* Stephanie: */
font-family: .SFNSDisplay-Regular;
font-size: 30px;
color: #C2D31E;
letter-spacing: -0.49px;
/* Ross-LeCavalier_bio: */
/* Line: */
border: 1px solid #7C7C7C;
/* stephanie: */
