/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.slider-caption h2 {
	font-family: .SFNSDisplay-Regular;
	color: #FFFFFF;
	letter-spacing: -1.29px;
	font-weight:400;
	font-size:80px;
}
.retina-logo, .standard-logo {
	width:90%;
}
#header.full-header #logo {
	border-right:none;
}
#header.full-header #primary-menu > ul {
	border-right:none;
}
body.stretched #header.full-header .container {
	padding-left:10px;
}

.slider-caption p {
	font-family: .SFNSDisplay-Regular;
	font-size: 55px;
	color: #FFFFFF;
	letter-spacing: -0.98px;
}

.slider-caption .h2-no-margin {
	margin-bottom:0;
}

.slider-caption .p-font-size {
	font-size:16px;
	font-family: .SFNSDisplay-Regular;
	color:#FFF;
	letter-spacing:-0.39px;
}

.two-column-short {
	display:flex;
	flex-direction:row;
}

.two-column-short .text-left, .two-column-short .text-right {
	width:50%;
}
.two-column-short .text-left {
	text-align:right;
	padding-right:20px;
}
.two-column-short .text-right {
	text-align:left;
	padding-left:20px;
	border-left:1px solid #d9d9d9;
	height:45px;
	margin-top:5px;
}

.text-left {
	display:flex;
	flex-direction:column;
}

.phone-font-size {
	font-size:18px;
}

.margin-left-3 {
	margin-left:3px;
}

.text-left .p-no-margin {
	margin:0;
	margin-bottom:-5px;
}

.text-left .p-font-size-big {
	font-size:27px;
}
.btn-green {
	background: #C2D31E;
	border-radius: 8px;
	height:40px;
	color:#000;
}
.text-left .green {
	color: #C2D31E;
}
.green-font {
	font-family: .SFNSDisplay-Regular;
	color: #A0AF0F;
	letter-spacing: -0.5px;
	font-weight:400;
}
.font-normal {
	font-family: .SFNSDisplay-Regular;
}
.row-two-text {
	color: #FFFFFF;
	letter-spacing: -0.64px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.91);
}

#section-about {
	background:#3E3E3E;
}
.notoppadding {
	padding-top:0;
}

.section-three-text {
	/* Stephanie iѕ origina: */
	font-family: .AppleSystemUIFont;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom:5px;
	letter-spacing: -0.32px;
}
.toppadding {
	padding-top:50px;
}

.title-purple {
	/* LIMITED TIME SUMMER: */
	font-family: .SFNSDisplay-Regular;
	font-size: 38px;
	color: #7270BC;
	letter-spacing: -0.89px;
	font-weight:400;
	margin-bottom:0px;
}
.section-three-title {
	/* Ross M. LeCavalier,: */
	font-family: .SFNSDisplay-Regular;
	font-size: 25px;
	color: #C2D31E;
	letter-spacing: -0.49px;
	font-weight:400;
}
.section-four-span {
	/* Offer Ends September: */
	font-family: .SFNSDisplay-Regular;
	font-size: 20px;
	font-weight:300;
	color: #7C7C7C;
	letter-spacing: -0.46px;
}
.section-four-row {
}
.section-three-h2 {
	color:#FFF;
	font-family: .SFNSDisplay-Regular;
	font-size: 38px;
	letter-spacing: -0.89px;
	font-weight:400;
}
.split-row-line {
	/* Line: */
	border: 1px solid #7C7C7C;
}

.row .price-box, .row .price-box-mid {
	/* Rectangle 5 Copy 2: */
	background: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 8px;
	border: 1px solid #7C7C7C;
	height:415px;
	text-align:left;
}

.row .price-box {
	color:#5C5B81
}
.row .price-box-mid {
	color: #7270BC;
}

.price-box-top, .price-box-top-mid, .price-box-top-bottom {
	height:15px;
	border-radius:7px 7px 0 0;
}
.price-box-top {
	background: #5C5B81;;
}
.price-box-top-mid {
	background:#7270BC;
}
.price-box-top-bottom {
	background:#2A2D61;
}
.price-box-content {
	padding:25px;
}

.color-purple-3 {
	color:#2A2D61;
}

.no-bold {
	font-weight:400;
}
#section-work > div.container.clearfix.center > div > div > .price-box-content > .price-box-p {
	line-height:20px;
	font-size:16px;
}


.price-box-h3, .price-box-h3-mid {
	/* New Patient Dental E: */
	font-family: .SFNSDisplay-Regular;
	font-size: 28px;
	font-weight:400;
	letter-spacing: -0.58px;
	line-height: 38px;
	margin-bottom:5px;
}
.price-box-h3-mid, .price-box-h4-mid {
	color:#7270BC;
}

.price-box-price {
	font-family: .AppleSystemUIFont;
	font-size: 50px;
	letter-spacing: -2.38px;
	line-height: 38px;
	text-align:right;
}

.dollar {
	font-size:20px;
	position:relative;
	top:-20px;
}
#section-work {

	background: #F7F7F7;
}
#section-team {
	background:url('images/reviews-section.jpg')
}
.title-white {
	font-family: .SFNSDisplay-Regular;
	font-size: 38px;
	color: #FFFFFF;
	font-weight:400;
	letter-spacing: -0.89px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.92);
}
.section-six-span {
	/* Join our Dimensions: */
	font-family: .SFNSDisplay-Regular;
	font-size: 18px;
	font-weight:300;
	color: #FFFFFF;
	letter-spacing: -0.46px;
}
.section-six-title {
	margin-bottom:0;
	font-size:38px;
}
.no-text-shadow {
	text-shadow:none;
}
#section-services {
	background:#3E3E3E;
}
#h3-ross-m {
	position:relative;
	top:15px;
}
.section-two-border-top {
	background: #5C5B81;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	height:20px;
}
#section-one-phone {
	font-weight:400;
}
#text-wrap {
	height:400px;

}
#section-testimonials {
	height:400px;
	border-bottom:5px solid #5C5B81;

}

.vertical-align {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

.section-six-container {
	display:flex;
	height:250px;
	width:76%;
	margin:0 auto;
	border-radius:8px;
}
.box-left, .box-right {
	height:248px;
	padding:20px;
}
.box-left {
	width:80%;
	background:#fff;
	padding-right:5px;
	border-radius: 8px 0px 0px 8px;
}
.box-right {
	width:24%;
	background:#C2D31E;
	border-radius: 0px 8px 8px 0px;
}
.box-right-top, .box-right-bottom {
	border:1px solid #000;
	height:20px;
}
.fa-check-square-o {
	margin-right:10px;
}

.box-left-top {
	border-bottom: 1px solid #7C7C7C;
	height:40px;
	margin-bottom:25px;
}
