/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.slider-caption h2 {
	font-family: .SFNSDisplay-Regular;
	color: #FFFFFF;
	letter-spacing: -1.29px;
	font-weight:400;
	font-size:80px;
}
